.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 .swiper-button-prev,
 .swiper-button-next::after{
  content: "";
  background-color: red !important;
  
 }
  
  }

  .desktop-slide-show img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }